<div class="landing-container page-container">
    <div class="content-wrapper">
        <div class="hero-banner">
            <img src="logobanner.webp" alt="TN Health Official Banner" class="official-banner-img">
        </div>

        <h1 class="title">{{ content.title }}</h1>
        <p class="subtitle">{{ content.subtitle }}</p>
    </div>

    <div class="footer-action">
        <div class="footer-inner">
            <app-primary-button route="/rch-info" [label]="content.button"></app-primary-button>
        </div>
    </div>
</div>