<div class="accordion">
    <div *ngFor="let item of items; let i = index" class="accordion-item" [class.expanded]="expandedIndex() === i">
        <button class="accordion-header" (click)="toggle(i)">
            <span class="question">{{ item.question }}</span>
            <div class="icon-wrapper">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
                    stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </div>
        </button>
        <div class="accordion-content" [class.open]="expandedIndex() === i">
            <div class="content-inner">
                <p>{{ item.answer }}</p>
            </div>
        </div>
    </div>
</div>